<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.gaoxiaobo.shiro.entity.User">

	<select id="getByUsername" parameterType="string" resultType="User">
		<![CDATA[
			select * from t_user where username=#{username}					
		]]>
	</select>
</mapper>
